geopandas~=1.0.1
ee~=0.2
geemap~=0.35.1
streamlit~=1.42.0


earthengine-api~=1.5.2
pillow~=11.1.0
pandas~=2.2.3
numpy~=2.2.2
folium~=0.19.4
matplotlib~=3.10.0
streamlit_folium~=0.24.0
StringIO